* {
  font-family: Roboto, sans-serif;
}

html {
  font-size: 62.5%;
}

body {
  margin: 0;
}

a {
  text-decoration: none;
}

a:visited {
  color: #000;
}

.navbar {
  padding-left: 274px;
}

.content {
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

.content.is-marged {
  margin-left: 274px;
}

.sidebar__item {
  display: block;
  height: 100%;
  width: 100%;
}